---
- name: "ZSH | LINUX | Remove fzf"
  ansible.builtin.apt:
    name: "fzf"
    state: absent
  become: true
  when: ansible_os_family == 'Debian'

- name: "ZSH | LINUX | Check if fzf is installed"
  ansible.builtin.command: "{{ ansible_user_dir }}/.config/zsh/plugins/fzf/bin/fzf --version"
  register: fzf_installed
  ignore_errors: true
  changed_when: false
  when: ansible_os_family == 'Debian'

- name: "ZSH | LINUX | Install fzf"
  ansible.builtin.shell: "bash -f {{ ansible_user_dir }}/.config/zsh/plugins/fzf/install --bin"
  when: (ansible_os_family == 'Debian') and (fzf_installed.rc != 0)

- name: "ZSH | OSX | Install fzf"
  community.general.homebrew:
    name: "fzf"
    state: present
  when: ansible_os_family == 'Darwin'

- name: "ZSH | LINUX | Install fastfetch"
  ansible.builtin.apt:
    name: "fastfetch"
    state: present
  become: true
  when: ansible_os_family == 'Debian'
  ignore_errors: true

- name: "ZSH | LINUX | Set fastfetch install flags"
  ansible.builtin.set_fact:
    fastfetch_use_repo: >-
      {{ (ansible_distribution == 'Ubuntu' and (ansible_distribution_version is version('25.04', '>=')))
      or (ansible_distribution in ['Debian', 'Raspbian'] and (ansible_distribution_major_version | int >= 13)) }}
    fastfetch_use_ppa: >-
      {{ (ansible_distribution == 'Ubuntu' and (ansible_distribution_version is version('22.04', '>=')))
      and not (ansible_distribution_version is version('25.04', '>=')) }}
    fastfetch_use_deb: >-
      {{ (ansible_distribution == 'Ubuntu' and (ansible_distribution_version is version('20.04', '>=')))
      or (ansible_distribution in ['Debian', 'Raspbian'] and (ansible_distribution_major_version | int >= 11)) }}
  when: ansible_os_family == 'Debian'

- name: "ZSH | LINUX | Install fastfetch (repo)"
  ansible.builtin.apt:
    name: "fastfetch"
    state: present
  become: true
  when:
    - ansible_os_family == 'Debian'
    - fastfetch_use_repo
  ignore_errors: true

- name: "ZSH | LINUX | Add fastfetch PPA"
  ansible.builtin.apt_repository:
    repo: "ppa:zhangsongcui3371/fastfetch"
    state: present
    update_cache: true
  become: true
  when:
    - ansible_os_family == 'Debian'
    - fastfetch_use_ppa
  ignore_errors: true

- name: "ZSH | LINUX | Install fastfetch (PPA)"
  ansible.builtin.apt:
    name: "fastfetch"
    state: present
  become: true
  when:
    - ansible_os_family == 'Debian'
    - fastfetch_use_ppa
  ignore_errors: true

- name: "ZSH | LINUX | Set fastfetch deb arch"
  ansible.builtin.set_fact:
    fastfetch_deb_arch: >-
      {{ 'amd64' if ansible_architecture in ['x86_64', 'amd64']
      else 'arm64' if ansible_architecture in ['aarch64', 'arm64']
      else 'armhf' if ansible_architecture in ['armv7l', 'armhf']
      else '' }}
  when:
    - ansible_os_family == 'Debian'
    - fastfetch_use_deb

- name: "ZSH | LINUX | Download fastfetch deb"
  ansible.builtin.get_url:
    url: "https://github.com/fastfetch-cli/fastfetch/releases/latest/download/fastfetch-linux-{{ fastfetch_deb_arch }}.deb"
    dest: "/tmp/fastfetch-linux-{{ fastfetch_deb_arch }}.deb"
    mode: "0644"
  when:
    - ansible_os_family == 'Debian'
    - fastfetch_use_deb
    - fastfetch_deb_arch != ''
  ignore_errors: true

- name: "ZSH | LINUX | Install fastfetch deb"
  ansible.builtin.apt:
    deb: "/tmp/fastfetch-linux-{{ fastfetch_deb_arch }}.deb"
  become: true
  when:
    - ansible_os_family == 'Debian'
    - fastfetch_use_deb
    - fastfetch_deb_arch != ''
  ignore_errors: true

- name: "ZSH | OSX | Install fastfetch"
  community.general.homebrew:
    name: "fastfetch"
    state: present
  when: ansible_os_family == 'Darwin'
  ignore_errors: true

# starship linux install
- name: "ZSH | LINUX | Check if starship is installed"
  ansible.builtin.command: "starship --version"
  register: starship_installed
  ignore_errors: true
  changed_when: false
  when: ansible_os_family == 'Debian'

- name: "ZSH | LINUX | Install starship"
  ansible.builtin.shell: "curl -fsSL https://starship.rs/install.sh | sh -s -- -y"
  become: true
  when: (ansible_os_family == 'Debian') and (starship_installed.rc != 0)
  ignore_errors: true
  changed_when: false

- name: "ZSH | OSX | Install starship"
  community.general.homebrew:
    name: "starship"
    state: present
  when: ansible_os_family == 'Darwin'

# pure-prompt
- name: "ZSH | LINUX | Install pure-prompt via npm"
  community.general.npm:
    name: "pure-prompt"
    global: yes
  become: true
  when: ansible_os_family == 'Debian'
  ignore_errors: true

- name: "ZSH | OSX | Install pure-prompt via brew"
  community.general.homebrew:
    name: "pure"
    state: present
  when: ansible_os_family == 'Darwin'

### config files

# - name: "ZSH | Create symlink for neofetch config"
#   ansible.builtin.file:
#     src: "{{ ansible_user_dir }}/.dotcube/dotfiles/neofetch/"
#     dest: "{{ ansible_user_dir }}/.config/neofetch"
#     state: link
#     force: yes
#     follow: false

- name: "ZSH | Create symlink for starship config folder"
  ansible.builtin.file:
    src: "{{ ansible_user_dir }}/.dotcube/dotfiles/starship/"
    dest: "{{ ansible_user_dir }}/.config/starship"
    state: link
    force: yes
    follow: false

- name: "ZSH | Create symlink for starship config"
  ansible.builtin.file:
    src: "{{ ansible_user_dir }}/.dotcube/dotfiles/starship/starship.toml"
    dest: "{{ ansible_user_dir }}/.config/starship.toml"
    state: link
    force: yes
    follow: false
