---
- name: "ZSH | LINUX | Remove fzf"
  ansible.builtin.apt:
    name: "fzf"
    state: absent
  become: true
  when: ansible_os_family == 'Debian'

- name: "ZSH | LINUX | Check if fzf is installed"
  ansible.builtin.command: "{{ ansible_user_dir }}/.config/zsh/plugins/fzf/bin/fzf --version"
  register: fzf_installed
  ignore_errors: true
  changed_when: false
  when: ansible_os_family == 'Debian'

- name: "ZSH | LINUX | Install fzf"
  ansible.builtin.shell: "bash -f {{ ansible_user_dir }}/.config/zsh/plugins/fzf/install --bin"
  when: (ansible_os_family == 'Debian') and (fzf_installed.rc != 0)

- name: "ZSH | OSX | Install fzf"
  community.general.homebrew:
    name: "fzf"
    state: present
  when: ansible_os_family == 'Darwin'

- name: "ZSH | LINUX | Install fastfetch"
  ansible.builtin.apt:
    name: "fastfetch"
    state: present
  become: true
  when: ansible_os_family == 'Debian'
  register: fastfetch_apt
  ignore_errors: true

- name: "ZSH | LINUX | Set fastfetch OBS distro"
  ansible.builtin.set_fact:
    fastfetch_obs_distro: >-
      {{ 'Debian_' ~ ansible_distribution_major_version
      if ansible_distribution in ['Debian', 'Raspbian']
      else 'xUbuntu_' ~ ansible_distribution_version
      if ansible_distribution == 'Ubuntu'
      else '' }}
  when:
    - ansible_os_family == 'Debian'
    - fastfetch_apt is failed

- name: "ZSH | LINUX | Add fastfetch OBS apt key"
  ansible.builtin.apt_key:
    url: "https://download.opensuse.org/repositories/home:/fastfetch/{{ fastfetch_obs_distro }}/Release.key"
    state: present
  become: true
  when:
    - ansible_os_family == 'Debian'
    - fastfetch_apt is failed
    - fastfetch_obs_distro != ''
  ignore_errors: true

- name: "ZSH | LINUX | Add fastfetch OBS apt repo"
  ansible.builtin.apt_repository:
    repo: "deb https://download.opensuse.org/repositories/home:/fastfetch/{{ fastfetch_obs_distro }}/ /"
    state: present
    filename: "fastfetch"
    update_cache: true
  become: true
  when:
    - ansible_os_family == 'Debian'
    - fastfetch_apt is failed
    - fastfetch_obs_distro != ''
  ignore_errors: true

- name: "ZSH | LINUX | Install fastfetch from OBS"
  ansible.builtin.apt:
    name: "fastfetch"
    state: present
  become: true
  when:
    - ansible_os_family == 'Debian'
    - fastfetch_apt is failed
    - fastfetch_obs_distro != ''
  ignore_errors: true

- name: "ZSH | OSX | Install fastfetch"
  community.general.homebrew:
    name: "fastfetch"
    state: present
  when: ansible_os_family == 'Darwin'
  ignore_errors: true

# starship linux install
- name: "ZSH | LINUX | Check if starship is installed"
  ansible.builtin.command: "starship --version"
  register: starship_installed
  ignore_errors: true
  changed_when: false
  when: ansible_os_family == 'Debian'

- name: "ZSH | LINUX | Install starship"
  ansible.builtin.shell: "curl -fsSL https://starship.rs/install.sh | sh -s -- -y"
  become: true
  when: (ansible_os_family == 'Debian') and (starship_installed.rc != 0)
  ignore_errors: true
  changed_when: false

- name: "ZSH | OSX | Install starship"
  community.general.homebrew:
    name: "starship"
    state: present
  when: ansible_os_family == 'Darwin'

# pure-prompt
- name: "ZSH | LINUX | Install pure-prompt via npm"
  community.general.npm:
    name: "pure-prompt"
    global: yes
  become: true
  when: ansible_os_family == 'Debian'
  ignore_errors: true

- name: "ZSH | OSX | Install pure-prompt via brew"
  community.general.homebrew:
    name: "pure"
    state: present
  when: ansible_os_family == 'Darwin'

### config files

# - name: "ZSH | Create symlink for neofetch config"
#   ansible.builtin.file:
#     src: "{{ ansible_user_dir }}/.dotcube/dotfiles/neofetch/"
#     dest: "{{ ansible_user_dir }}/.config/neofetch"
#     state: link
#     force: yes
#     follow: false

- name: "ZSH | Create symlink for starship config folder"
  ansible.builtin.file:
    src: "{{ ansible_user_dir }}/.dotcube/dotfiles/starship/"
    dest: "{{ ansible_user_dir }}/.config/starship"
    state: link
    force: yes
    follow: false

- name: "ZSH | Create symlink for starship config"
  ansible.builtin.file:
    src: "{{ ansible_user_dir }}/.dotcube/dotfiles/starship/starship.toml"
    dest: "{{ ansible_user_dir }}/.config/starship.toml"
    state: link
    force: yes
    follow: false
