---
- name: Detect WSL
  ansible.builtin.shell: |
    if grep -qiE 'microsoft|wsl' /proc/version; then
      echo true
    else
      echo false
    fi
  register: wsl_detect
  args:
    executable: /bin/bash
  changed_when: false
  failed_when: false

- name: Register WSL State fact (boolean)
  ansible.builtin.set_fact:
    ansible_host_environment_is_wsl: "{{ wsl_detect.stdout | trim | bool }}"